{% extends "base_template.html" %}
{% block title %}Mall-Chain{% endblock %}
{% block content %}
    <ul>

    {% for post in posts %}
       <div class="post_box">
	   <div class="post_box-header">
	      <div style="background: rgb(0, 97, 146) none repeat scroll 0% 0%; box-shadow: rgb(0, 97, 146) 0px 0px 0px 2px;" class="post_box-avatar">{{post.author[0]}}</div>
	      <div class="name-header">{{post.author}}</div>
	      <div class="post_box-subtitle"> Posted at <i>{{readable_time(post.timestamp)}}</i></div>
	   </div>
	   <div>
	      <div class="post_box-body">
	         <p>{{post.content}}</p>
	      </div>
	   </div>
	</div>
    {% endfor %}
    
    </ul>
{% endblock %}