<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Mall-Chain Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/login.css">
  </head>

  <body>
    <main class="login">
      <div class="login-screen">
        <div class="app-title">
          <h1>Mall Chain</h1>
        </div>

        {% if error %}
        <p class="login-error-msg"><strong>Error:</strong> {{ error }}
        {% endif %}

        <form id="login-form" class="login-form" method="post" action="">
          <input type="text" placeholder="Employee number" name="username" value="{{
          request.form.username }}">
          <label class="login-field-icon fui-user" for="loginname"></label>

          <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}">
          <label class="login-field-icon fui-lock" for="loginpass"></label>

          <input class="btn btn-primary" type="submit" value="Login">

        </form>

      </div>
    </main>
  </body>
</html>